version: '3.1'

services: 
    apache:
        build: 
            context: .
            dockerfile: Dockerfile
        ports: 
            - 80:80
        volumes: 
            - '../:/var/www/html'

    db:
        image: mysql
        command: --default-authentication-plugin=mysql_native_password
        restart: always
        environment:
            - MYSQL_DATABASE=thesaurus
            - MYSQL_USER=admin
            - MYSQL_PASSWORD=root
            - MYSQL_ROOT_PASSWORD=root
        volumes: 
            - mysql-data:/var/lib/mysql
        ports:
            - "3306:3306"

    php-admin:
        image: phpmyadmin/phpmyadmin
        expose:
            - 80
        ports: 
            - 8083:80
        environment: 
            - PMA_HOST=db

volumes:
    mysql-data: